{% extends "partials/_base.html" %}
{% load static crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-md-6 col-lg-4">
      <div class="card card-signin">
          <div class="card-body">
{% comment %} <h1>{% trans "Sign In" %}</h1> {% endcomment %}

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      

      <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn btn-primary btn-block btn-lg" type="submit">{% trans "Sign In" %}</button>
      </form>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
    </div>
  </div>
  </div>
</div>
</div>

{% endblock %}
