{% extends 'partials/_base.html' %}
{% block title %}Order Summary{% endblock title %}
{% block body %}
<h1>Order Summary</h1>
<table class="table text-center table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{item.book.title}}</td>
              <td>${{item.book.price}}</td>
              <td><a href="{% url 'shopping_cart:remove-from-cart' item.book.slug %}"><i class="bi bi-trash text-danger"></i></a></td>
            </tr>
        {% empty%}
            <tr>
              <td colspan="4">
                  There are no items in your cart
              </td>
            </tr>
        {% endfor %}
        {% if order.get_total %}
        <tr>
          <td colspan="3">
            <strong>Total order: </srong>
          </td>
          <td colspan="1">
            <strong>${{order.get_total}} </srong>
          </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4">
                <a href="{% url 'books:book-list' %}" class="btn btn-warning">
                  {% if order %}
                    Continue shopping
                  {% else %}
                    Add items to your cart
                  {% endif %}
                </a>
            </td>
        </tr>
        {% if order.get_total %}
        <tr>
          <td colspan="4">
              <button type="button" class="btn btn-primary" onclick="makePayment()">Pay Now</button>
          </td>
      </tr>
      {% endif %}

    </tbody>
  </table>
{% endblock body %}

{% block scripts %}
<script src="https://checkout.flutterwave.com/v3.js"></script>

<script>
function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-85ea9de6d4d8d3926065bae3a5b3f5a5-X",
      tx_ref: "{{ref_code}}",
      amount: "{{order.get_total}}",
      currency: "USD",
      payment_options: "card",
      redirect_url: "http://127.0.0.1:8000/cart/checkout/",
      /** callback: function(payment) {
        // Send AJAX verification request to backend
        verifyTransactionOnBackend(payment.id);
      },
      onclose: function(incomplete) {
        if (incomplete || window.verified === false) {
          document.querySelector("#payment-failed").style.display = 'block';
        } else {
          document.querySelector("form").style.display = 'none';
          if (window.verified == true) {
            document.querySelector("#payment-success").style.display = 'block';
          } else {
            document.querySelector("#payment-pending").style.display = 'block';
          }
        }
      } **/,
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{request.user.email}}",
        phone_number: "08102909304",
        name: "{{request.user.get_full_name}}",
      },
      customizations: {
        title: "Digital Marketplace",
        description: "Your number one book solutions",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
</script>
{% endblock scripts %}

