{% extends 'partials/_base.html' %}
{% block title %}{{chapter.title}}{% endblock title %}
{% block body %}
{% block breadcrumb %}
<div class="bg-light p-2 mt-2 shadow-sm">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'books:book-list' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{book.get_absolute_url}}">{{chapter.book.title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{chapter.title}}</li>

        </ol>
    </nav>
</div>
{% endblock breadcrumb %}
<div class="row my-5">
    <div class="col-md-5">
        {% include 'books/partials/_book_detail.html' with book=chapter.book %}
    </div>

    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
              Exercises
            </div>
            <ul class="list-group list-group-flush">
              {% for exercise in chapter.exercise_set.all %}
              <li class="list-group-item"><a href="{{exercise.get_absolute_url}}">{{exercise.exercise_number}}. {{exercise.title}}</a></li>
          {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock body %} 

